<!DOCTYPE html>
<html>
  <head>
    <title>American Demographics</title>
  </head>
  <body>
    <h1>What County Should You Live In?</h1>
    <form action="/response">
      <label for="states">Choose a State:</label>
      <select name="states" id="states">
        {{ response }}
      </select>
      <label for="data">Choose Priority:</label>
      <select name="data" id="data">
        <option value = "Income">Income</option>
        <option value = "Education">Education</option>
        <option value = "Homeownership">Homes</option>
        <option value = "Diversity">Diversity</option>
        <option value = "Employment">Employment</option>
      </select>
      <br>
      <label for = "county">Type a County (unrelated):</label>
      <select name="county" id="county">
        {{ responseTwo }}
      </select>
      <input type="submit" value="Get a fun fact!">
    </form>
    <p> {{ statefact }} </p>
    <p> {{ countyfact }} </p>
    {{ data }}
  </body>
</html>
