<!DOCTYPE html>
<html>
  <head>
    <title>American Demographics</title>
  </head>
  <body>
    <h1>American Demographics</h1>
    <form action="/response">
      <label for="states">Choose a State:</label>
      <select name="states" id="states">
        {{ response }}
      </select>
      <label for = "county">Choose a County:</label>
      <select name="county" id="county">
        {{ responseTwo }}
      </select>
      <input type="submit" value="Get a fun fact!">
    </form>
    <p>{{ statefact }}</p>
    <p> {{ countyfact }} </p>
  </body>
</html>
