<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - America Facts</title>
  </head>
  <body>
    <form action="/response"><form action="/action_page.php" autocomplete="on">
      <label for="states">Choose a State:</label>
      <select name="states" id="states" value = {{ default }}>
        {{ response }}
      <input type="submit" value="Get a fun fact!">
    </form>
    {% block content %}{% endblock %}
  </body>
</html>
